* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --top-info-bg-color: #fafafa;
  --top-info-txt-color: #414a4c;
  --main-color: #fff;
  --head-text: #4386de;
  --logo-brand-color: #0052d4;
  --buttom-bg--color: linear-gradient(
    90deg,
    rgba(0, 82, 212, 1) 0%,
    rgba(67, 100, 247, 1) 35%,
    rgba(111, 177, 252, 1) 100%
  );
  --service-text-color: #bdbdbd;
  --footer-bg-color: linear-gradient(
    0deg,
    rgba(0, 82, 212, 1) 0%,
    rgba(67, 100, 247, 1) 35%,
    rgba(111, 177, 252, 1) 100%
  );
  --shop--btn--color: #4e97fd;
  --shop--btn--hover: #e4573d;
  --mart--container--color: #333333;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: none;
}

/* Header Start Area */
/* Top Info Section */

/* ======== COLORS ======= */
.top--info--container,
.info-icons {
  background-color: var(--top-info-bg-color);
  color: var(--top-info-txt-color);
}

div.nav-wrapper {
  background-color: var(--main-color);
}

div.nav-wrapper .brand-logo,
.sidenav-trigger {
  color: var(--logo-brand-color);
}
/* ==== END ==== */

.top--info--content,
.loc--address,
.loc,
.about--main--img {
  display: flex;
  align-items: center;
}

.top--info--content {
  justify-content: space-between;
}

.loc {
  margin-right: 40px;
}

.info-icons {
  margin-right: 10px;
}

/* Navbar */
/* ====== COLORS ====== */
div.nav-wrapper ul li a {
  color: rgba(0, 0, 0, 0.5);
}

div.nav-wrapper ul li a.active--nav--link,
div.nav-wrapper ul li a:hover,
#mobile-sidenav li a {
  color: var(--head-text);
}
/* ==== END ==== */

div.nav-wrapper {
  padding: 0 30px;
}

div.nav-wrapper ul li a:hover {
  background: transparent;
}

div.nav-wrapper ul li {
  font-weight: 500;
}

/* Sidenav */
#mobile-sidenav {
  width: 200px;
  top: 57px;
}

#mobile-sidenav li i.fas {
  margin-right: 10px;
  font-size: 1.1rem;
}

#mobile-sidenav li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#mobile-sidenav li:last-child {
  border-bottom: none;
}

/* Header End Area */

/* Banner Start Here */
/* ====== COLORS ====== */
.carousel--text {
  color: var(--main-color);
}

.about--head-text,
.phram--head--text,
.about-mission span,
.carousel--text h3 {
  color: var(--head-text);
}

.about-icons {
  color: var(--top-info-txt-color);
}

.button {
  background: var(--buttom-bg--color);
}

a.button:hover .moreBtn {
  padding-left: 5px;
  transition: 0.3s;
}
/* ==== END ==== */

.banner {
  height: 34.375rem;
}

#carousel-container {
  height: 100%;
  position: relative;
}

.carousel-item img {
  height: 100%;
}

.carousel--text {
  position: absolute;
  text-align: left;
  bottom: 40%;
  padding-left: 40px;
}

.carousel--text p {
  font-size: 1.2rem;
}

.carousel-fixed-item a {
  position: absolute;
  left: 35px;
  bottom: 70px;
  border-radius: 30px;
}

/* Start About Area */
.about--container,
#services--container {
  text-align: center;
  margin-bottom: 3%;
}

.about--head-text,
.phram--head--text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.05rem;
}

.about--para--text {
  opacity: 0.7;
}

/* About Img and Text */
#about--main .row .col {
  padding: 0;
}

.about--main--img img {
  height: 50%;
  width: 70%;
}

.about--main--img {
  padding-top: 20px;
  justify-content: center;
}

.about--main--text p {
  margin-top: 0;
}

.about--main--text {
  padding: 0 2rem;
  /* height: 24rem; */
}
.about--text {
  margin-bottom: 7%;
  font-size: 1.1rem;
}
.about-mission {
  display: flex;
  justify-content: start;
}

.about-mission span {
  font-size: 1.3rem;
  font-weight: bold;
}

.about-icons {
  padding-top: 10px;
  margin-right: 30px;
}

a.readMore {
  border-radius: 5px;
  margin-left: 47px;
}

/* Features Start Area */
/* ====== COLORS ====== */
h3.phram--para--text,
.counter--content {
  color: var(--main-color);
}

.service--item {
  background-color: var(--main-color);
}

p.service--down-text,
h3.phram--para--text,
.service--item p {
  color: var(--service-text-color);
}

h2.service--text {
  color: var(--top-info-txt-color);
  font-size: 1.1rem;
  text-transform: capitalize;
}

.counter--outer {
  background: #6fb1fc;
}

.counter--inner {
  background: #4364f7;
}

.counter--content {
  background: #0052d4;
}
/* ==== END ==== */

#services--container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../img/services-bg.jpg") center center / cover no-repeat;
  padding: 0.5rem 0 3.5rem;
}

p.service--down-text,
h3.follow--us {
  font-family: "Cousine", monospace;
}

p.service--down-text {
  margin-top: 5%;
}

h3.phram--para--text {
  margin-bottom: 5%;
}

.service--item {
  text-align: center;
  position: relative;
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.18), 0px 1px 6px rgba(0, 0, 0, 0.18);
  padding: 10px;
  border-radius: 10px;
  height: 250px;
}

.service--item img {
  opacity: 0.5;
  width: 50%;
  margin: 10px 0 0;
}

.service--item:hover img {
  opacity: 1;
}

.service--item h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Services Counter */
.counter--outer {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 25px;
  left: 35px;
}

.counter--outer,
.counter--inner,
.counter--content {
  display: grid;
  place-items: center;
  border-radius: 100%;
  box-shadow: 1px 1px 6px rgba(3, 169, 244, 0.3);
}
.counter--inner {
  height: 80%;
  width: 80%;
}

.counter--content {
  height: 80%;
  width: 80%;
  font-weight: bold;
}

/* ====== MART ====== */

/* ====== COLORS ====== */
#mart--container,
.product--title,
h3.view--products a {
  color: var(--mart--container--color);
}

.product--container:hover a.shopNow,
a.active:hover,
span.onsale {
  background: var(--shop--btn--hover);
}

.left--hero--product .item--price,
.view--products i,
.view--products a:hover,
.product--title:hover {
  color: var(--shop--btn--color);
}

.right--hero--product .item--price,
p.price {
  color: var(--shop--btn--hover);
}

a.active,
.buy--btn:hover,
a.shopNow,
.material-tooltip {
  background: var(--shop--btn--color);
}

.item--tag {
  background-color: #ffc400;
}

span.hot {
  background: #f6b500;
}

.buy--btn {
  background: var(--mart--container--color);
}

.buy--info .buy--btn,
span.onsale,
span.hot {
  color: var(--main-color);
}
/* ==== END ==== */

#mart--container {
  border-color: var(--head-text);
  border-radius: 8px;
  padding: 8px;
  margin: 0 10px 30px;
}

legend {
  font-size: 1.7rem;
  padding: 0 6px;
  font-weight: 500;
}

/* Hero-Items */
div.hero--items,
.product--container img {
  height: 23.75rem;
}

/* Hero-Item  */

.product--container,
.product--info {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.row div.overall--product--container {
  padding: 0 10px 0 0;
  margin: 0 0 15px 0;
}
.product--container {
  border-radius: 10px;
}

.product--container img,
.product--info img {
  max-width: 100%;
  transition: all 0.5s;
  display: block;
  width: 100%;
  transform: scale(1);
}

.product--container img {
  border-radius: 10px;
}

.product--container:hover img,
.product--info:hover img {
  transform: scale(1.1);
}

/* Products Description */
div.product--desc {
  position: absolute;
  top: 30px;
  left: 30px;
}

div.product--desc .item--price,
div.product--desc .desc--category {
  margin: 0;
}

div.product--desc .desc--item--name {
  margin-top: 3px;
}

.product--desc .item--price {
  font-size: 1.5rem;
  font-weight: 900;
}

.product--desc .desc--item--name {
  font-size: 1.32rem;
  font-weight: 600;
}

/* Left Hero Product */
div.left--hero--product .desc--category {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

div.left--hero--product .desc--item--name {
  margin-top: 3px;
}

/* Right Hero Product */
div.right--hero--product .desc--item--name {
  margin-top: 8px;
}

div.right--hero--product .desc--item--name span {
  display: inline-block;
  margin-bottom: 7px;
}

.right--hero--product .desc--category {
  text-transform: uppercase;
  font-size: 0.94rem;
}

/* Shop Now Buttom */
a.shopNow {
  text-transform: none;
  border-radius: 20px;
  margin-top: 1.75rem;
  font-size: 14px;
}
.item--tag {
  height: 100px;
  width: 100px;
  position: absolute;
  right: -6px;
  display: grid;
  place-items: center;
  border-radius: 100%;
}

.item--tag h4 {
  margin: 0;
  font-size: 1.5rem;
}

.item--tag span {
  font-weight: bold;
  margin: 0 0 3px 9px;
}

/* Best Selling */
.best--selling,
.view--products {
  font-weight: 550;
}

h3.best--selling {
  font-size: 1.63rem;
}

h3.view--products {
  font-size: 0.94rem;
  text-align: right;
  margin: 35px 0 0 0;
}

h3.view--products {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Product Items Container */

/* Product Info */
.product--info {
  /* height: 18.75rem; */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
}

.product--info img {
  height: 12rem;
}

.product--info:hover .buy--info,
a.active,
.buy--btn:hover {
  transition: all 0.3s;
}

.product--info:hover .buy--info {
  display: block;
}

/* Product Badges */
.product--badges {
  position: absolute;
  top: 0;
  letter-spacing: 1.5px;
}

span.onsale,
span.hot {
  display: inline-block;
  margin: 0 10px 10px 0;
  font-weight: 550;
  padding: 3px 5px;
}

/* Buy Info */
.buy--info {
  position: absolute;
  top: 135px;
  display: none;
}

.buy--info .buy--btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  margin-right: 10px;
  border-radius: 100%;
}

/* Product Category */
.product--category,
p.price,
.product--badges {
  text-transform: uppercase;
}

.product--category {
  margin: 10px 0 5px;
}

.product--category a {
  color: #ababab;
  font-size: 13px;
  letter-spacing: 1px;
}

.product--title,
.price,
.product--category,
.buy--info {
  padding: 0 5px;
}

.product--title {
  font-size: 15px;
}

.price {
  font-size: 18px;
}

p.price {
  margin: 0;
  font-weight: bold;
}

.material-tooltip {
  border-radius: 5px;
}

/* ===== MART END ===== */

/* Map */
.map {
  position: relative;
}

iframe {
  margin-bottom: 2.8%;
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.18), 0px 1px 6px rgba(0, 0, 0, 0.18);
}

/* Enquiry Form */
/* ====== COLORS ====== */
.card--content h3 {
  color: var(--head-text);
}

.input-field input[type="email"]:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #000 !important;
}

.call--enquiry .info-icons {
  color: var(--logo-brand-color);
}

.follow--us--handles .follow-us-icons {
  color: var(--main-color);
}

/* ==== END ==== */
.card {
  height: 330px;
  width: 250px;
  position: absolute;
  top: 25px;
  right: 100px;
  border-radius: 10px;
  padding: 20px;
}

.card--content h3 {
  font-size: 2rem;
  margin-top: 0;
}

/* Form */
label {
  padding-left: 10px;
  margin: 0;
  letter-spacing: 1px;
}

label[for="Message"] {
  margin-top: -7px;
}

.input-field span.helper-text {
  font-size: 0.6rem;
  margin-top: -3px;
}

.input-field input[type="email"],
.materialize-textarea:not([readonly]) {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  border-radius: 10px;
  height: 37px;
}

.materialize-textarea:not([readonly]) + label,
label[for="email"] {
  font-size: 0.8rem;
}

.materialize-textarea:not([readonly]) {
  margin-top: -10px;
}

.input-field input:focus,
.materialize-textarea:focus:not([readonly]) {
  border: 1px solid var(--head-text) !important;
  box-shadow: 0 1px 0 0 var(--logo-brand-color) !important;
}

/* Submit Button */
button[type="submit"] {
  border-radius: 5px;
  margin: 0 0 0 50px;
}

button[type="submit"]:hover .submitBtn {
  padding-left: 5px;
  transition: 0.3s;
}

/* Call Enquiry */
div.call--enquiry {
  margin-top: 7px;
}

.call--enquiry .info-icons {
  font-size: 1.8rem;
  background: transparent;
}

/* Footer */
.page-footer {
  background: var(--footer-bg-color);
}

h3.follow--us,
.follow--us--handles .follow-us-icons {
  font-size: 1.5rem;
}

h3.follow--us {
  margin-bottom: 10px;
  font-weight: bold;
}

.follow--us--handles .follow-us-icons {
  background: transparent;
}

/* ======================================================================================= */

/* =========== ABOUT PAGE ============= */

/* Body */
#about--us--page,
span a {
  color: var(--mart--container--color);
}
/* Progress bar */
.page--progress--bar {
  margin: 2rem 0 0 0;
}

.home {
  opacity: 0.5;
}

.about-us,
p.img--text,
.about--company--info h3,
.acc-main-text {
  font-weight: bold;
}
.page--header--title h1 {
  font-size: 2.1rem;
  margin-top: 2rem;
}
.about--header {
  height: 400px;
  background: linear-gradient(
      0deg,
      rgba(67, 134, 222, 1),
      rgba(67, 134, 222, 0.9)
    ),
    url("../img/about-header.jpg") center center / cover no-repeat;
  padding: 1.4rem 0;
  color: var(--main-color);
  position: relative;
}

.about--header--msg {
  font-size: 13px;
}

.about--header--msg,
.service--info--msg,
.about--company--info,
.accreditation--info {
  width: 60%;
}

.about--header--msg h3 {
  font-size: 1.1rem;
  word-spacing: 3px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.about--header--msg p {
  opacity: 0.7;
  margin-bottom: 30px;
}

/* About Desktop Navigation */
.about--nav {
  height: 450px;
  width: 230px;
  background: #f7f7f7;
  position: absolute;
  z-index: 1;
  right: 15%;
  top: 75%;
  border-radius: 5px;
}

.nav--image {
  height: 55%;
  background: url("../img/hospital.jpg") center center / cover no-repeat;
  border-radius: 5px 5px 0 0;
}

.nav--links {
  padding: 10px 20px;
}

.nav--links ul li {
  line-height: 2.5;
}

.nav--links ul li a {
  color: var(--head-text);
  font-weight: 500;
}

.nav--links ul li a:focus,
.nav--links ul li:first-child a {
  color: var(--mart--container--color);
}

/* about--service--info */
.service--info--msg {
  margin-top: 50px;
  font-size: 0.9rem;
}

/* about--the--company */

.about--company--info h1,
.about--company--info h3,
.accreditation--info h1,
.acc-main-text {
  font-size: 1.3rem;
}

.about--company--info h1,
.accreditation--info h1 {
  font-weight: 800;
  color: var(--head-text);
}

p.img--text {
  font-size: 1.2rem;
}

.about--company--img,
.accreditation--img {
  height: 300px;
}

.about--company--img {
  background: url("../img/about/our\ company.jpg") center center / cover no-repeat;
}

.accreditation--img {
  background: url("../img/about/accreditation.jpg") center center / cover no-repeat;
}

.major--projects {
  display: flex;
  align-items: flex-start;
}

.major--projects span {
  display: inline-block;
  height: 5px;
  width: 70px;
  margin: 22px 20px 0 0;
  background: var(--head-text);
}

/* Our Accreditation */
.accreditation--info h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

/* ======================================================================================= */

/* =========== END ABOUT PAGE ============= */

/* ======================================================================================= */

/* =========== PHARMACY PAGE ============= */

/* Pharmacy Navigation */
ul.pharm--nav-dsk {
  margin-left: 400px;
}

/* Dropdown Content */
.dropdown-content {
  border-radius: 0 0 7px 7px;
}

/* Collection Dropdown Content */
#collection .collection--dropdown {
  color: black;
}

.collection--dropdown .drop--tab h1 {
  font-size: 1rem;
  background: var(--buttom-bg--color);
  padding: 10px 20px;
  width: 170px;
  border-radius: 20px;
  color: var(--main-color);
  margin: 20px 0 0 0;
}

.drop--tab li {
  padding-left: 10px;
}

/* Pages Dropdown Content */
.pages--dropdown li:first-child,
.medic--tools--dropdown li,
.drop--tab li {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

/* Hover Background */
.pages--dropdown li:hover,
.medic--tools--dropdown li:hover,
.drop--tab li:hover {
  background: transparent;
}

/* Medic Tools Dropdown Content */
#medic--tools .medic--tools--dropdown {
  width: 200px;
}

.medic--tools--dropdown li {
  padding-left: 20px;
}

.medic--tools--dropdown li:last-child,
.drop--tab li:last-child {
  border-bottom: none;
}

/* cart icon */
.cart--icon {
  position: relative;
}

.cart--icon span {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 37px;
  font-size: 0.7rem;
}

#mobile-sidenav .pharm-home a {
  padding-left: 16px;
}

.pharm-home i.fas {
  color: var(--head-text);
  margin-right: 17px;
  font-size: 1.5rem;
}

/* Pharmacy Products */

/* Products header */
.pha--prod--container--head {
  margin-top: 30px;
  height: 16.5rem;
}

/* Products Section Block */
.product--section--block {
  text-align: center;
  color: #003242;
}

.product--section--block i {
  font-size: 3rem;
  margin: 15px 0 0 0;
}

.banner--msg h4 span,
.production--section--title {
  font-family: monospace;
}

.banner--msg h4,
.production--section--title {
  font-weight: bold;
}

.production--section--title {
  margin: 15px 0 20px 0;
  font-size: 28px;
}

.production--section--para {
  margin-bottom: 40px;
  font-size: 14px;
}

/* Corona Alert Banner */
.covid-19--alert--banner {
  background: linear-gradient(
      0deg,
      rgba(67, 134, 222, 0.4),
      rgba(67, 134, 222, 0.9)
    ),
    url("../img/pharmacy/covid-19-banner.jpg") center center / cover no-repeat;
  height: 450px;
  position: relative;
  margin-bottom: 30px;
}

.banner--msg {
  position: absolute;
  right: 15%;
  top: 15%
}

.banner--msg p,
.banner--msg h4 span {
  color: black;
}

.banner--msg h4,
.covid--alert--btn,
.prod--alert .alert--price {
  text-transform: capitalize;
}

p.alert--info {
  line-height: 2;
}

.covid-19--alert--banner,
p.alert--info,
.covid--alert--btn:hover {
  color: var(--main-color);
}

.covid--alert--btn,
.pha--all--btn {
  border-radius: 20px;
}

.covid--alert--btn,
.pha--all--btn,
span.baby--soap,
span.baby--diapers {
  background: var(--main-color);
  color: var(--head-text);
}

.covid--alert--btn:hover,
.pha--all--btn:hover,
span.lifebuoy--soap {
  background-color: var(--shop--btn--color);
  color: var(--main-color);
}

/* High Demand Products */
.high--demand--prod--container {
  margin: 10px 100px;
}


/* Other Products banner */

.other--prod {
  background: linear-gradient(
      0deg,
      rgba(67, 134, 222, 0.6),
      rgba(67, 134, 222, 0.9)
    ),
    url("../img/pharmacy/view--all--products.jpg") center center / cover no-repeat;
  height: 300px;
  padding: 0 30px;
  margin-top: 420px;
  position: relative;
}

.prod--alert,
.prod--alert .prod--alert--hover,
.prod--alert .alert--price {
  position: absolute;
  z-index: 1;
}


.prod--alert {
  width: 350px;
  top: -320px;
}

.prod--alert ,.prod--alert img {
  height: 450px;
  border-radius: 10px;
}

.prod--alert img {
  width: 100%;
  
}

.prod--alert img:first-child {
  margin-left: 30px;
}

.other--prod--text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-color);
}


/* Product section block --- latest collection */
#latest--collection {
  margin-top: 30px;
  z-index: 1;
}

.prod--alert .prod--alert--hover {
  display: inline-block;
  height: 95%;
  width: 95%;
  top: 2.5%;
  left: 11%;
  border-radius: 10px;
  background: rgba(111, 177, 252, 0.2);
  display: none;
}

.prod--alert:hover  .prod--alert--hover {
  display: block;
  transition: all 4s;
}

.prod--alert .alert--price {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  text-transform: capitalize;
  font-size: 1.1rem;
}

span.baby--soap {
  box-shadow: 3px 1px 3px var(--head-text);
  top: 50px;
  left: 80px;
}


span.lifebuoy--soap {
  box-shadow: 3px 1px 3px var(--main-color);
}

span.lifebuoy--soap,
span.baby--diapers {
  bottom: 50px;
  right: 30px;
}

span.baby--diapers {
  box-shadow: 3px 1px 3px var(--head-text);
}

/* Latest Collection Tab */

#latest--collection--tab li:first-child {
  margin-left: 27%;
}

#latest--collection--tab li a {
  padding: 0;
  width: 200px;
  text-transform: capitalize;
  font-size: 24px;
  color: #3f3f3f;
}

li.tab.col.s3 {
  width: 200px;
}

.tabs li a:focus {
  background: transparent !important;
}

li.indicator {
  background: var(--head-text) !important;
  width: 100px;
  margin: 0 auto 5px;
}


/* NEW PRODUCT TAB */
/* New Product 1 */

#new--products {
  padding: 0 50px;
}

.lat--product--info {
  display: flex;
  height: 160px;
  width: 95%;
}

.lat--product--image {
  width: 45%;
}

.lat--product--desc {
  padding: 30px 5px;
  display: flex;
  flex-direction: column;
}


.lat--product--name {
  font: 17px monospace;
  margin-bottom: 5px;
  color: #003242;
}

.lat--product--price {
  font-size: 16px;
}

.lat--product--name,
.lat--product--price {
  font-weight: bold;
}




/* ======= Media Queries ======= */

/* For Mobile */
@media (max-width: 600px) {
  /* Banner area */
  .banner {
    height: 28rem;
  }

  /* About Img and Text */
  .about--main--img img {
    width: 100%;
    margin-bottom: 10px;
  }

  .about--main--text {
    height: 27rem;
  }

  /* Features Start Area */
  .service--item {
    margin-bottom: 3rem;
    height: 345px;
  }

  /* Services Counter */
  .counter--outer {
    left: 127px;
    top: 20px;
  }

  /* Form Enquiry */
  .card {
    top: 25px;
    right: 60px;
  }

  /* Product Item Container */
  /* Product Info */
  .product--info {
    height: 20rem;
  }

  .item--tag {
    right: 15px;
    bottom: -60px;
  }

   /* ========================== PHARMACY PAGE ====================== */
  
   /* Latest Collection Tab */

#latest--collection--tab li:first-child {
  margin-left: -5px;
}

#latest--collection--tab li a {
  width: 150px;
  font-size: 16px;
}

li.tab.col.s3 {
  width: 90px;
  text-align: center;
}


li.indicator {
  margin: 0 auto 7px;
}

/* Other Products banner */
.prod--alert img:first-child {
  margin-left: 0;
}

.prod--alert .prod--alert--hover {
  left: 2.5%;
  
}

}


/* For Tablet */
@media (max-width: 768px) {
  /* Banner area */
  .banner {
    height: 30rem;
  }

  /* Carousel Text */
  .carousel--text {
    bottom: 35%;
  }

  /* Carousel buttom */
  .carousel-fixed-item a {
    bottom: 15px;
  }

  /* About Img and Text */
  .about--main--img img {
    width: 100%;
    height: 350px;
  }

  .about--main--text {
    height: 30rem;
  }

  /* Features Start Area */
  .service--item {
    margin-bottom: 3rem;
    height: 300px;
  }

  /* Services Counter */
  .counter--outer {
    left: 70px;
    top: 20px;
  }

  /* Form Enquiry */
  .card {
    top: 25px;
    right: 40px;
  }

   /* ========================== PHARMACY PAGE ====================== */
  
   /*  Product Items Container */
   .product--items-container {
    margin-left: 10px;
  }
  
   /* Covid Alert Banner */

  .banner--msg {
    left: 10%;
  }
  
  /* High Demand Products */
.high--demand--prod--container {
  margin: 10px 20px;
}

/* Other Products banner */
/* .prod--alert img:first-child {
  margin-left: 30px;
}

.prod--alert .prod--alert--hover {
  left: 11%;
  
} */

.other--prod--text {
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

}


/* For Large screen */
@media (max-width: 992px) {
  /* Menu icon */
  .nav-wrapper a i {
    margin-left: -40px;
    font-size: 2.3rem;
  }

  /* About Img and Text */
  .about--main--img img {
    width: 100%;
    height: 350px;
  }

  .about--main--text {
    height: 30rem;
  }

  /* Features Start Area */
  .service--item {
    margin-bottom: 3rem;
    height: 345px;
  }

  .service--item img {
    opacity: 1;
  }

  /* Services Counter */
  .counter--outer {
    left: 120px;
    top: 20px;
  }

  /* Form Enquiry */
  .card {
    top: 25px;
    right: 60px;
  }

  /* Mart */
  /* Product Container */
  .product--container {
    margin-bottom: 15px;
  }

  /* =================== ABOUT PAGE ==================== */

  .about--header--msg,
  .service--info--msg,
  .about--company--info,
  .accreditation--info {
    width: 100%;
  }

  /* ========================== PHARMACY PAGE ====================== */

  /* pharmacy mobile side nav  */
  .nav-wrapper .phram--nav--brand {
    margin-left: -50px;
  }

  ul.user--action--icons li:last-child {
    margin-right: -30px;
  }

  .user--action--icons li {
    margin-left: 6px;
  }

  /* Icons size */
  .user--action--icons li a i {
    font-size: 2rem;
  }

  /* cart icon */
  .cart--icon span {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 2px;
    font-size: 0.7rem;
  }

  /* High Demand Products */
  .high--demand {
    margin-bottom: 10px;
  }
}
